html {
    position: relative;
    height: 100%;
}
body {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100%;

    background: #00a5e1;
    color: #fff;
//  .opacity(0.1);
}
        
a {
    color: #fff;
    font-weight: bold;
        
    .badge {
        background: white;
        color: #00a5e1;
    }
    
    &:hover,
    &:focus{
        color: #fff;
        text-decoration: underline;
    }
}

.container-fluid {
    padding: 30px 60px;
}
